@font-face {
  font-family: "Dongle";
  src: url(../fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: "Allura";
  src: url(../fonts//Allura-Regular.ttf);
}
@font-face {
  font-family: "Niconne";
  src: url(../fonts//Niconne-Regular.ttf);
}
@font-face {
  font-family: "MarckScript";
  src: url(../fonts//MarckScript-Regular.ttf);
}